{%extends "base.html" %}

{% block content %}
<div class="topnav">
  <a href="/">Home</a>
  <a class="active" href="search_view">Search Page</a>
  <a href="search_history">Search History</a>
  <p><b>Twhisper</b></p>

</div>

<div >
  <form method="POST" > {% csrf_token %}
    <input type="text" name="query">
    <button type="submit">Search Tweets</button>
</form>
</div>

  {% if data %}

<div class="float-container">
  <div class="float-tweets">
    <table
      class="tablo"
      border="5 steelblue"
      width="%95"
      cellspacing="1"
      cellpadding="1"
    >
    <thead>
      <tr>
        <th>Tweet</th>
        <th>Sentiment</th>

      </tr>
    </thead>

    <tbody>  
      
      {% for tweets in data %}
      <tr>
        <td>{{tweets.tweet}}</td>
        <td>{{tweets.sentiment}}</td>


      </tr>
      {%endfor%}
    </tbody> 
    </table>
  </div>

  <div class="float-charts">
    <img width="95%" height="95%" src="{{ barChart }}">
  </div>
  
  <div class="float-charts">
    <img width="98%" height="95%" src="{{ pieChart }}">
  </div>
  
</div>



  {% endif %}

{% endblock %}

