{%extends "base.html" %}

{% block content %}
<div class="topnav">
  <a href="{% url 'home' %}">Home</a>
  <a class="active" href="{% url 'search_page' %}">Search Page</a>
  <a href="{% url 'history_page' %}">Search History</a>
    {% if user.is_authenticated %}
      <span><a href="{% url 'logout' %}">Logout</a></span>
      <span><a>Hello,{{request.user}}</a></span>
    {% else %}
    <span><a href="{% url 'register' %}">Sign Up</a></span>
    <span><a href="{% url 'login' %}">Login</a></span>
    {% endif %}

  <p><b>Twhisper</b></p>

  

</div>

<div class="butons" >
  {% csrf_token %}
  <form >
    <label >Keyword </label>
    <input type="text" name="query" id="query" placeholder="E.g: Covid">
    <label >How many Tweets </label>
    <select name="selected_number" id="selected_number">
      <option selected="selected" disabled>Select a number</option>
      <option value=25 >25</option>
      <option value=50 >50</option>
      <option value=75 >75</option>
      <option value=100 >100</option>
    </select>
    <button type="submit">Search Tweets</button>
</form>
    <form >
      {% if user.is_authenticated %}
      {% if saved != True %}
      <button name="save" value="True" type="submit" >Save Results</button>
      {% else %}
      <button name="save" value="True" disabled >Results Saved!</button>
      {% endif %}
      {% else %}
      {% if data %}
      <label > ***Login required in order to save results! </label>
      {% endif %}
      {% endif %}
    </form>

</div>

  {% if data %}

<div class="float-container">
  <div class="float-tweets">
    <table
      class="tablo"
      border="5 steelblue"
      width="%95"
      cellspacing="1"
      cellpadding="1"
    >
    <thead>
      <tr>
        <th>Tweet</th>
        <th>Sentiment</th>

      </tr>
    </thead>

    <tbody>  
      
      {% for tweets in data %}
      <tr>
        <td>{{tweets.tweet}}</td>
        <td>{{tweets.sentiment}}</td>


      </tr>
      {%endfor%}
    </tbody> 
    </table>
  </div>

  <div class="float-charts">
    <img width="95%" height="95%" src="{{ barChart }}">
  </div>
  
  <div class="float-charts">
    <img width="98%" height="95%" src="{{ pieChart }}">
  </div>
  
</div>



  {% endif %}

{% endblock %}

