{%extends "base.html" %}

{% block content %}
<div class="topnav">
  <a href="{% url 'home' %}">Home</a>
  <a href="{% url 'search_page' %}">Search Page</a>
  <a class="active" href="{% url 'history_page' %}">Search History</a>
  {% if user.is_authenticated %}
  <span><a href="{% url 'logout' %}">Logout</a></span>
  <span><a>Hello,{{request.user}}</a></span>
  {% else %}
  <span><a href="{% url 'register' %}">Sign Up</a></span>
  <span><a href="{% url 'login' %}">Login</a></span>
  {% endif %}
    <p><b>Twhisper</b></p>
  
  </div>

<div  class="butons">
  {% csrf_token %}
  <form  > 
    <label >Saved Resuls:</label>
    {% if queries_and_dates %}
    <select name="selected_query_and_date" id="selected_query_and_date">
      <option selected="selected" disabled>Select a query and date</option>
      {% for query_and_date in queries_and_dates %}
      <option value="{{query_and_date}}" >{{query_and_date}}</option>
      {%endfor%}
    </select>
    <button type="submit" name="seebutton" value="clicked"  >See Results</button>
    {% if deleted != True %}
    <button name="delete" value="True" type="submit" >Delete Selected Results</button>
    {% else %}
    <button name="save" value="True" disabled >Results Deleted!</button>
    {% endif %}
    {% else %}
    <p>You don't have anything saved!</p>
    {% endif %}    
</form>
</div>

{% if data %}
<div class="float-container">
  <div class="float-tweets">
    <table
      class="tablo"
      border="5 steelblue"
      width="%95"
      cellspacing="1"
      cellpadding="1"
    >
    <thead>
      <tr>
        <th>Tweet</th>
        <th>Sentiment</th>

      </tr>
    </thead>

    <tbody>  
      
      {% for tweets in data %}
      <tr>
        <td>{{tweets.tweet}}</td>
        <td>{{tweets.sentiment}}</td>


      </tr>
      {%endfor%}
    </tbody> 
    </table>
  </div>

  <div class="float-charts">
    <img width="95%" height="95%" src="{{ barChart }}">
  </div>
  
  <div class="float-charts">
    <img width="98%" height="95%" src="{{ pieChart }}">
  </div>
  
</div>
<div class="linechart">
  <img width="50%" height="95%" src="{{ lineChart }}">
</div>


{% endif %}

{% endblock %}
